// Colors
$white: #FFF;
$black: #000;
$back-pink-dark: #e1c0b0;

// Text colors

// Dimensions
$header-height: 90px;
$jumbo-height: 550px;

//Fonts
$primary-font: "Mulish", sans-serif;
$accent-font: "Playfair Display", sans-serif;