// Colors
$white: #FFF;
$black: #000;
$black-trasparent: #00000026;
$back-pink-dark: #E1C0B0;

// Text colors
$text-grey-dark: #878787;

// Dimensions
$header-height: 90px;
$jumbo-height: 550px;

//Fonts
$primary-font: "Mulish", sans-serif;
$accent-font: "Playfair Display", sans-serif;