// Colors
$white: #FFF;
$black: #000;
$black-trasparent: #00000026;
$back-pink-dark: #E1C0B0;
$back-pink-light: #FAF7F1;
$back-pink-normal: #F3D0C7;
$back-green-light: #D8F0E3;
$back-green-dark: #C0E1CF;

// Text colors
$text-grey-dark: #878787;
$text-green: #BADAC9;
$text-yellow: #F8D12D;
$text-orange: #EB6950;
$text-purple: #80465F;

// Dimensions
$header-height: 90px;
$jumbo-height: 550px;

//Fonts
$primary-font: "Mulish", sans-serif;
$accent-font: "Playfair Display", sans-serif;