@use './partials/variables' as *;

@import 'node_modules/@fontsource/mulish/300.css';
@import 'node_modules/@fontsource/mulish/400.css';
@import 'node_modules/@fontsource/mulish/700.css';
@import 'node_modules/@fontsource/playfair-display/400-italic.css';
@import 'node_modules/@fontsource/playfair-display/800-italic.css';

@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

// RESET
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

button{
  background: none;
  border: none;
  cursor: pointer;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: $black;
}

img, picture, video, canvas, svg {
  display: inline-block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
// ---

body{
  font-family: $primary-font;
  background-color: $white;
}

.container{
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;

  padding-inline: 60px;
}

.btn{
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-size: .8rem;
  font-weight: 700;
  padding: 16px 30px;
  border: 2px solid black;
  transition: all .4s ease-out;
  transition-property: background-color, color, border-color;
  &.btn_pink{
    border-color: $back-pink-dark;
    &:hover{
      background-color: $back-pink-dark;
      color: white;
    }
    &:active{
      transform: scale(.96);
    }
  }
  &.btn_green{
    background-color: $back-green-light;
    border-color: $back-green-light;
    &:hover{
      background-color: $back-pink-dark;
      border-color: $back-pink-dark;
      color: white;
    }
    &:active{
      transform: scale(.96);
    }
  }
}

.accent_text{
  font-weight: 700;
  font-family: $accent-font;
}

.content_text{
  color: $text-grey-dark;
  line-height: 1.5rem;
}

h2{
  font-size: 3.5rem;
  font-weight: 400;
}

// 992 breakpoint